.App {
  text-align: center;
  padding-bottom: 100px;
  background-image: url("../res/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  width: 70%;
  margin: 15px;
  margin-top: -10%;
}

h3.authors {
  font-size: 2em;
  color: #00a1ff;
  text-shadow: 5px 5px 5px black;
}

h1.title {
  margin: 20px;
  font-size: 4.5em;
  color: #00a1ff;
}

p.content {
  font-size: 1.5em;
  padding: 0px 50px 0px 50px;
  margin-bottom: 50px;
}

.icone {
  margin-right: 20px;
  font-size: 40px;
  vertical-align: 3%;
}

.tab-technos {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
}

.tab-technos img {
  width: 70%;
  margin: 5px;
}

.links {
  padding-left: 20%;
  padding-right: 20%;
  align-items: center;
  margin-bottom: 20px;
}

.imgLink {
  width: 9em;
}

.paperTitle {
  margin-left: 10%;
  margin-right: 10%;
  background-color: #282c34;
  border-radius: 10px;
}

.iconFeature {
  font-size: 5em;
  margin-top: 30px;
  margin-bottom: 30px;
}

.textFeature {
  opacity: 0;
  font-size: 0em;
  color: black;

  border-radius: 30px;

  transition: 0.5s;
}

.buttonFeature:hover .textFeature {
  opacity: 1;

  font-size: 2em;

  transition: 1s;
}

.photos {
  margin-top: 20px;
}
